﻿@model Desarrollo.Inventario.Models.CategoriasModel.CategoriaListaVM
@{
    ViewBag.Title = "Listado";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Listado de Categorias</h2>
    </div>
</div>
<!-- -->
<!-- Contenido -->
<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title">Búsqueda de Categoria</div>
        <div class="ibox-content">
            @using (Html.BeginForm("Listado", "Categoria", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-md-3">
                        <label>Codigo Categoria</label>
                        @Html.TextBoxFor(x => Model.codigo, new { @class = "form-control" })
                    </div>

                    <div class="col-md-3">
                        <label>Nombre Categoria</label>
                        @Html.TextBoxFor(x => Model.nombre, new { @class = "form-control" })
                    </div>

                    
                    <div class="col-md-3 " style="padding-top:4px">
                        <br />
                        <button class="btn btn-primary" type="submit">Buscar</button>

                    </div>


                </div>
                <br />
              
            }
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <a class="btn btn-primary btn-bitbucket nuevo" data-cod="0" data-title="" data-contenido="" data-fecha="" data-fech="" href="#"><i class="fa fa-paste"></i> Nueva Categoria</a>
            <br /><br />

            <div id="reload"> @Html.Partial("~/Views/Categoria/_listadoCategorias.cshtml", Model)</div>
           
        
        </div>
    </div>
</div>





<div class="modal inmodal fade" id="AgregarEditarCategoria" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close cerrar" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class=""><span id="cattitel"></span></h3>
            </div>

            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frm" }))
            {  <div class="modal-body">

                         <input type="hidden" id="codigocat">
                       <label>Nombre Categoria</label><br />

                   <input type="text" class="form-control" id="nombrecat" /><br />
                    
                          <label>Detalle</label><br />
                   <input type="text" style="height:70px"  class="form-control" id="Detallecat" /><br />
                 

               
            </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white cerrar" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary " id="btnmult" >Guardar</button>
                </div>
            }


        </div>
    </div>
</div>       

<input type="hidden" value="@Url.Action("GuardarCategoria","Categoria")" id="guardarcat" />
<input type="hidden" value="@Url.Action("EliminarCategoria","Categoria")" id="eliminarcat" />
<input type="hidden" value="@Url.Action("GetCategoria","Categoria")" id="getcatego" />
<input type="hidden" value="@Url.Action("Editarcategoria","Categoria")" id="guardarEdicion" />

@section Scripts{
    
    <script>


        $(document).on("click", ".btnEditar", function (e) {

            e.preventDefault();
            Bitworks.Ventanas.mostrarLoading("...");
            var codigo = $("#codigocat").val();
            var nomc = $("#nombrecat").val();
            var detc = $("#Detallecat").val();
            var url = $("#guardarEdicion").val();


            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                data: {
                    codigo: codigo, nombre: nomc, detalles: detc
                }
            }).done(function (data) {


                if (data.exito) {


                    $("#reload").html('');
                    $("#reload").html(data.postsHtml);
                    $("#codigocat").val('');
                    $("#nombrecat").val('');
                    $("#Detallecat").val('');
                    $("#btnmult").removeClass("btnEditar");
                    $("#AgregarEditarCategoria").modal('toggle');
                    swal("Exito", "Categoría Editada Correctamente", "success");



                } else {
                    $("#codigocat").val('');
                    $("#nombrecat").val('');
                    $("#Detallecat").val('');
                    $("#AgregarEditarCategoria").modal('toggle');
                    swal("Ocurrió un error...",
                        "Hubo un error al Intentar Editar la Categoría",
                        "error");

                }

                }).fail(function (data) {
                    $("#codigocat").val('');
                $("#nombrecat").val('');
                $("#Detallecat").val('');
                $("#AgregarEditarCategoria").modal('toggle');

                swal("Ocurrió un error...",
                    "Hubo un error con el servidor, recargue la página o intente más tarde",
                    "error");
            });

        });






        $(document).on("click", ".editarcat", function (e) {
            e.preventDefault();

            var codigo = $(this).data('codigo');
            var url = $("#getcatego").val();

            $("#codigocat").val('');
            $("#nombrecat").val('');
            $("#Detallecat").val('');

            //Bitworks.Ventanas.mostrarLoading("...");
            $.ajax({

                type: "POST",
                url: url,
                dataType: "json",
                data: {
                    codigo: codigo
                }
                
            } ).done(
                function (data) {


                    $("#codigocat").val(data.codigo);
                    $("#nombrecat").val(data.cat);
                    $("#Detallecat").val(data.detalle);
                    $("#btnmult").addClass("btnEditar");
                    $("#cattitel").html("Editar Categoria")
                    $("#AgregarEditarCategoria").modal().show();
                  

                }).fail(function (data) {



                    swal("Ocurrió un error...",
                        "Hubo un error con el servidor, recargue la página o intente más tarde",
                        "error");

                });



        });

        $(document).on("click", ".nuevo", function (e) {

            e.preventDefault()
            $("#btnmult").addClass("btnguardar");

            $("#codigocat").val('');
            $("#nombrecat").val('');
            $("#Detallecat").val('');

            $("#cattitel").html("Nueva Categoria")
            $("#AgregarEditarCategoria").modal().show();


        });
       
        $(document).on("click", ".btnguardar", function (e) {

            e.preventDefault();
            Bitworks.Ventanas.mostrarLoading("...");
            var nomc = $("#nombrecat").val();
            var detc = $("#Detallecat").val();
            var url = $("#guardarcat").val();


            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                data: {
                    nombre: nomc, detalles: detc
                }
            }).done(function (data) {
               

                if (data.exito) {

                 
                    $("#reload").html('');
                    $("#reload").html(data.postsHtml);
                    $("#nombrecat").val('');
                    $("#Detallecat").val('');
                    $("#btnmult").removeClass("btnguardar");
                    $("#AgregarEditarCategoria").modal('toggle');
                    swal("Exito", "Categoría Guardada Correctamente", "success");
                  


                } else {

                    $("#nombrecat").val('');
                    $("#Detallecat").val('');
                    $("#AgregarEditarCategoria").modal('toggle');
                    swal("Ocurrió un error...",
                        "Hubo un error al Intentar Guardar la Categoría",
                        "error");
                   
                }

            }).fail(function (data) {
                $("#nombrecat").val('');
                $("#Detallecat").val('');
                $("#AgregarEditarCategoria").modal('toggle');

                swal("Ocurrió un error...",
                    "Hubo un error con el servidor, recargue la página o intente más tarde",
                    "error");
            });

        });


        $(document).on("click",
           '.eliminarcategoria',
           function (e) {
               e.preventDefault();
              

               var url = $("#eliminarcat").val();
               var Codigocategoria = $(this).data('codigo');
               var boton = $(this);

               swal({
                   title: "¿Está seguro de Eliminar la Categoría?",
                   text: "La categoría se eliminara Permanentemente",
                   type: "warning",
                   showCancelButton: true,
                   confirmButtonColor: "#DD6B55",
                   confirmButtonText: "Sí, Eliminarla!",
                   closeOnConfirm: false
               },
                   function () {
                       Bitworks.Ventanas.mostrarLoading("...");

                       $.ajax({
                           url: url,
                           type: "Post",
                           data: { idcategoria: Codigocategoria }

                       }).done(function (data) {

                           if (data.exito=='1') {

                               $(boton).parent().parent().remove();
                               swal("Exito", "Categoria Eliminada Correctamente", "success");

                           } else if (data.exito == '2') {
                           
                               swal("Error...",
                                       "La categoria tiene Asociado Productos No se puede Eliminar",
                                       "error");
                           
                           
                           }else {
                               swal("Ocurrió un error...",
                                   "Hubo un error al intentar Eliminar la Categoria",
                                   "error");
                           }

                       }).fail(function () {
                           swal("Ocurrió un error...",
                               "Hubo un error con el servidor, recargue la página o intente más tarde",
                               "error");
                       });
                   });
           });



    </script>
    
    
    
    
    
    }