﻿@model Desarrollo.Inventario.WebAdmin.Models.LoginVM
@{
    ViewBag.Title = "Login";
    Layout = null;
    HtmlHelper.ClientValidationEnabled = true;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InventarioUtec - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/plugins")
    @Styles.Render("~/css/bitworkstyles")
    @* @Styles.Render("~/bundles/bitlibs/ventanas/bitframeworkstyles")*@

</head>
<body>
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div class="ibox-content">

            <div class="logo-login">
                <img src="~/img/logo.jpg" />
            </div>

            <h3></h3>

            @using (Html.BeginForm("Autenticar","Admin"))
            {
                @Html.ValidationSummary()
            <div class="m-t" role="form">
                <div class="form-group">
                    @*<input type="text" class="form-control" placeholder="Username" required="">*@
                    @Html.TextBoxFor(x => x.usuario, new { @class = "form-control", placeholder = "Username" })
                </div>
                <div class="form-group">
                    @*<input type="password" class="form-control" placeholder="Password" required="">*@
                    @Html.PasswordFor(x => x.clave, new { @class = "form-control", placeholder = "Password" })
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">INGRESAR</button>

               
                <div class="form-group">
                    <button type="submit" class="btn btn-primary block full-width m-b">REGISTRAR</button>
                </div>

            </div>
            }

            <p class="m-t">
                <small>&copy; @DateTime.Now.Year InventarioUtec</small>
            </p>
        </div>
    </div>
  
<input type="hidden" id="invalid" value="@ViewBag.invalid"/>
@Scripts.Render("~/bundles/Layaot")
@Scripts.Render("~/bundles/Plugins")
@Scripts.Render("~/bundles/jqval")
@Scripts.Render("~/bundles/bitlibs")

<script>
     var invalid = $("#invalid").val();

        if (invalid != null && invalid != "") {

            if (invalid == "0") {
                swal("Error", "Usuario o Contraseña Invalidas", "error");
            }
        }

</script>

</body>
</html>